.container{
    display: flex;
    flex-direction: row;
    background-color: var(--bgColor, transparent);
    color: var(--color) !important;
    flex-grow:1;
}

.moreBtn{
    float: right;
    color: black;
    height: 30px;
}