.navSec,.navSec a {
    text-decoration: none;
    padding-left: 15px;
    padding-bottom: 15px;
}

.navSec{
    display: flex;
    flex-direction: column;
}

.navSec a.active{
    color: #e80f2d;
    font-weight: bold;
}