.button span svg {
    height: 0.7em;
}

.button {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.editIcon {
    color: #02bb02;
}

.deleteIcon {
    color: red;
}

.buttonContainer {
    
}
.editablenav a.active{
    color: #e80f2d;
    font-weight: bold;
}
